body {
  background-color: #008348;
  font-family: Arial, sans-serif;
  max-width: 100rem;
}

blockquote {
  font-family: times;
  font-size: 24px;
  font-style: italic;
}

header {
  background-color: #f79d0c;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

img {
  width: 50%;
  float: left;
  padding-left: 40px;
  padding-top: 10px;
}

.thumbnail {
  width: 50px;
}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: italic;
  font-size: 65px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.para1 {
  font-size: 28px;
  text-align: justify;
  margin-right: 50px;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 775px;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*DataWrapper*/
.data-wrapper-container{
    text-align: center;
    background-color: white;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

/*DataWrapper*/
.data-wrapper-container2{
    text-align: center;
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
}
.para2{
  border-style: solid;
  margin-left: 38px;
  font-size: 20px;
  margin-right: 38px;
  margin-top: 20px;
  text-align: justify;
  color: white;
}
.para3{
  border-style: solid;
  margin-left: 38px;
  font-size: 20px;
  margin-right: 38px;
  margin-top: 775px;
  text-align: justify;
  color: white;
}

.img2{
  width: 97.5%;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/sports/spo-3/spo258.cur), auto !important;} /* End 
