body {
  background-color: #17408B;
  font-family: Arial, sans-serif;
  max-width: 100rem;
}

blockquote {
  font-family: times;
  font-size: 24px;
  font-style: italic;
}

header {
  background-color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

img {
  float: left;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 0px;
  width: 700px;
  height: 700px;
}

.thumbnail {
  width: 50px;
}

.caption {
  float: left;
  padding-left: 180px;
  color: white;
  font-style: italic;
}

.caption2 {
  float: right;
  padding-right: 60px;
  color: white;
  font-style: italic;
  font-size: 12px;
}


h1 {
  font-style: italic;
  font-size: 65px;
  text-align: center;
  padding-top: 250px;
  color: #C9082A;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.para1 {
  font-size: 28px;
  text-align: justify;
  padding-right: 760px;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-left: 40px;
  color: #C9082A;
 }

/*DataWrapper*/
.data-wrapper-container{
    text-align: center;
    background-color: white;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    padding-left: ;
}

/*DataWrapper*/
.data-wrapper-container2{
    text-align: center;
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 0px;
    padding: 20px;

}
.para2{
  font-size: 28px;
  text-align: justify;
  padding:40px;
  color: #C9082A;
 }

.para3{
  border-style: solid;
  margin-left: 38px;
  font-size: 20px;
  margin-right: 38px;
  margin-top: 775px;
  text-align: justify;
  color: white;
}

.img1{
float: right;
height: 815px;
width: 675px;
padding: 50px;
padding-right: 100px;
padding-top: 100px;
}

.img2{
  width: 760px;
  height: 715px;
  padding-bottom: 20px;
}

.img3{
  width: 1500px;
  height: 1200px;
  padding: 50px;
  text-align: center;
}

.navbar {
  background-color: #C9082A;
}

.container-fluid {
  background-color: #C9082A;
}

.navbar-brand {
  color: #17408B;
  margin-left: 610px;
  font-size: 30px;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo12.ani), url(https://cur.cursors-4u.net/sports/spo-1/spo12.png), auto !important;} /* End https://www.cursors-4u.com */
