body {
  background-color: #17408B;
  font-family: Arial, sans-serif;
  max-width: 100rem;
}

blockquote {
  font-family: times;
  font-size: 24px;
  font-style: italic;
}

header {
  background-color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

img {
  float: left;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 0px;
  width: 700px;
  height: 700px;
}

.thumbnail {
  width: 50px;
}

.caption {
  float: left;
  padding-left: 180px;
  color: white;
  font-style: italic;
}

.caption2 {
  float: right;
  padding-right: 60px;
  color: white;
  font-style: italic;
}

.caption3 {
  float: left;
  padding-left: 55px;
  color: white;
  font-style: italic;
  font-size: 14px;
}

.caption4 {
  float: right;
  padding-right: 50px;
  color: white;
  font-style: italic;
}

.caption5 {
  float: left;
  padding-left: 80px;
  color: white;
  font-style: italic;
  font-size: 12px;
}

.caption6 {
  float: center;
  padding-right: 60px;
  padding-left: 80px;
  color: white;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}


h1 {
  font-style: italic;
  font-size: 65px;
  text-align: center;
  padding-top: 250px;
  padding-right: 60px;
  color: white;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

/*DataWrapper*/
.data-wrapper-container{
    text-align: center;
    background-color: white;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

/*DataWrapper*/
.data-wrapper-container2{
    text-align: center;
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 0px;
    padding: 20px;
}

.para1 {
  font-size: 28px;
  text-align: justify;
  padding-top: 60px;
  padding-left: 60px;
  color: white;
 }

.para2{
  font-size: 28px;
  text-align: justify;
  color: white;
  padding-top: 90px;
  padding-right: 30px;
 }

.para3{
  font-size: 28px;
  text-align: justify;
  color: white;
  padding-top: 150px;
  padding-right: 90px;
 }

.para4 {
  font-size: 28px;
  text-align: justify;
  padding-top: 60px;
  padding-left: 60px;
  color: white;
 }

 .para5 {
  font-size: 20px;
  text-align: justify;
  padding-top: 80px;
  padding-right: 60px;
  color: white;
 }

.img1{
float: right;
height: 715px;
width: 775px;
padding-right: 50px;
}

.img2{
  width: 760px;
  height: 715px;
  padding-bottom: 20px;
}

.img3{
  width: 650px;
  height: 800px;
  padding-top: 50px;
  padding-left: ;
  text-align: center;
}

.navbar {
  background-color: #C9082A;
  width: 100%;
}

.container-fluid {
  background-color: #C9082A;
}

.navbar-brand {
  color: #17408B;
  font-size: 30px;
  display: block;
  text-align: center
}

.navbar-brand2 {
  color: #17408B;
  margin-left: 710px;
  font-size: 30px;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo12.ani), url(https://cur.cursors-4u.net/sports/spo-1/spo12.png), auto !important;} /* End https://www.cursors-4u.com */
